---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Counter from '../components/Counter.vue'
---

<html>
	<body>
		<main>
			<h1 class="font-bold">This is Astro Test</h1>
			<Counter />
		</main>
	</body>
</html>